//***HOME - general styles

.home {
    section:nth-child(odd) {
        background: $ice-blue;
    }

    section:nth-child(even) {
        background: $light-blue;
    }
}

.visit-summary,
.text-summary {
    p {
        margin-bottom: 15px;
    }
}

.home {
    h3,
    h4 {
        color: $spruce;
    }
}

.articles-quadrant-container {
    h3 {
        color: $twilight-blue;
    }
}

//***HOME - HEADER SECTION
.home-header {
    @include custom-header-bg("../assets/home-image-1.jpg");
    display: flex;
    .main-title {
        justify-content: flex-end;
        padding-right: 10%;
    }
}

//***HOME - VISIT GUYANA SECTION
.header-inset-image {
    width: 45%;
    position: absolute; // brings it on top of header
    bottom: -70px;
    left: -10px;
}

.visit {
    display: flex; 
    padding: 120px 0 80px;
}

.visit-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.visit-summary {
    width: calc(75% - 50px); // text to left
    padding-right: 50px;
    order: -1; // to place before image
}

.visit-guyana-image {
    box-shadow: 10px 10px $green-cyan;
}

//***HOME - gallery section 

.gallery {
    padding: 80px 0 80px;
}

.gallery-flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    li {
        display: flex;
    }
}

//***HOME - extra info section
.extra-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 75px 0;
    align-items: space-between;
    .icon-text-container:last-child {
        margin-bottom: 0;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 40px;
    width: 40px;
    color: $ice-blue;
    background-color: $green-cyan;
    margin: 8px 15px 0px 0px;
    border-radius: 50%;
}

.icon-text-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 50px;
    a:hover,
    a:focus {
        color: $green-cyan;
        transform: scale(1.1);
    }
}

.extra-text {
    width: calc(100% - 55px); // minus size of icon
}

//***HOME - article-image quadrant
.articles-quadrant-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.article-container {
    display: flex; // to contain each image and text set
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        object-fit: cover;
        height: 100%;
    }
}

.article-container > * {
    width: calc((100% - 80px) / 2);
    margin-right: 80px;
}

.article-img1 {
    position: relative;
    top: -50px;
    box-shadow: 15px 15px $green-cyan;
}

.article-img2 {
    order: 10;
    position: relative;
    bottom: -90px;
    box-shadow: -15px 15px $green-cyan;
}

.text-summary {
    display: flex;
    flex-direction: column;
}

.text-items {
    width: 75%; // so text doesn't bleed to the edge
}

.article-text-1,
.article-img2 {
    margin-right: 0px;
    padding-left: 0px;
}

.article-text-1 {
    padding-top: 125px;
}

.article-text-2 {
    text-align: right;
    padding-top: 80px;
    .text-items {
        align-self: flex-end;
    }
}

//***HOME - offers section
.offers-image {
    width: 100%;
    margin-bottom: 50px;
}

.offers-text {
    width: 75%;
    text-align: center;
    margin: 0 auto 70px;
}