//***MEDIA QUERY 1250PX
//***DESKTOP, LARGE LAPTOPS

@media (max-width: 1250px) {

// 1250PX HOME - article section

    .article-text-1 {
        padding: 50px 0 100px;
    }

    .article-text-2 {
        padding: 100px 0 50px;
    }

    .article-container {
        width: 90%;
        margin-right: 60px;
    }

    .article-container:last-child {
        margin-right: 0px;
    }

    .article-img1,
    .article-img2 {
        position: static;
        height: 375px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .article-img1 {
        margin-top: 50px;
    }

    .article-img2 {
        margin-bottom: 50px;
    }

// ** BLOG - main section

    .blog-container {
        margin-right: 30px;
    }

    .blog-article-image {
        margin-left: -50px;
    }

    aside {
        position: relative;
        right: -6px;
        .text {
            width: 90%;
        }
        img {
            width: 300px;
            position: relative;
            right: 0;
        }
    }
}


//****MEDIA QUERY 1024PX
//****DESKTOP, SMALL LAPTOPS
@media (max-width: 1024px) {

    h1 {
        font-size: calc(11.2rem * .75);
        span {
            font-size: calc(6.2rem * .75);
            line-height: calc(5.8rem * .75);
            letter-spacing: calc(6.7 * .75);
        }
    }

    .home-header {        
        .main-title {
            justify-content: center;   
            padding-right: 0;
        }
    }

    // 1024px CONTACT US - form section
    input {
        width: 100%;
        margin-right: 0;
    }

    input:first-child {
        margin-bottom: 20px;
    }

    .contact-info {
        padding: 150px 30px;
    }
}

//***MEDIA QUERY 768PX
//***TABLETS
@media (max-width: 768px) {

    // 768px FONT RESIZES 
    h1 {
        font-size: calc(11.2rem * .6);
        span {
            font-size: calc(6.2rem * .6);
            line-height: calc(5.8rem * .6);
            letter-spacing: calc(6.7 * .6);
        }
    }

    h2 {
    font-size: calc(6.2rem * .8);
    letter-spacing: calc(9px * .8);
    line-height: calc(5.8rem * .8);
    }

    h3 {
        font-size: calc(3.5rem * .8);
        letter-spacing: calc(3.8px * .8);
        line-height: calc(5.8rem * .8);
    }

    h4 {
        font-size: calc(3.0rem * .8);
        line-height: calc(5.8rem * .8);
        letter-spacing: calc(3.2px * .8);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    p,
    .blog li {
        line-height: calc(3.2rem * .8);
        letter-spacing: calc(2px * .8);
    }

    // 768PX - HEADER STYLES

    header li {
        display: none;
    }
    
    .fa-bars {
        display: block; /* make hamburger visible */
    }

    // 768px HOME - visit section
    .visit {
        padding: 50px 0px;
    }

    .visit-flex-container {
        flex-wrap: wrap;
    }

    .visit-images-flex-container {
        display: flex;
    }
    
    .visit-summary {
        order: 0;
        width: 100%;
        text-align: center;
        padding: 30px 0 0;
    }

    .header-inset-image {
        position: static; // swinging inset image down beside visit guyana image
    }

    .header-inset-image,
    .visit-guyana-image {
        width: calc((100% - 20px) / 2);
        margin-right: 20px;
        height: 330px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .visit-guyana-image {
        box-shadow: none;
        margin-right: 0;
    }

    // 768px HOME - gallery section

    .gallery {
        padding: 50px 0px;
    }

    .gallery-flex-container {
        grid-template-columns: 1fr 1fr;
    }

    .gallery-flex-container {
        li:last-child {
            display: none;
        }
    }

    // 768px HOME - extra info section

    .extra-info {
        flex-direction: column;
        padding: 50px 0px;
    }

    .icon-text-container {
        width: 100%;
        margin-bottom: 50px;
    }

    // 768px HOME - offers section

    .offers-text {
        width: 90%;
    }

    //768PX BLOG - main section
    .blog-aside-container {
        flex-direction: column;
    }

    .blog-container,
    aside {
        position: static;
        width: 100%;
    }

    aside {
        order: -1;
        flex-direction: row; 
        img {
            width: 30%;
            object-fit: cover;
        }
        .text {
            padding-top: 0;
        }
    }


    //768px CONTACT - form section

    .contact-form {
        position: static; // brings form back into section
        width: 100%;
    }

    .contact-info {
        float: none;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 75px 0px 50px;
    }

    .socials {
        justify-content: center;
    }
}

//****MEDIA QUERY 500PX
//****SMALL MOBILE

@media (max-width: 500px) {

    .logo {
        font-size: calc(3.46rem * .75);
    }

    h2 {
        font-size: calc(6.2rem * .6);
        letter-spacing: calc(9px * .6);
        line-height: calc(5.8rem * .6);
    }

    // 500px - HOME - header
    h1 {
        font-size: calc(11.2rem * .4);
        span {
            font-size: calc(6.2rem * .4);
            line-height: calc(5.8rem * .4);
            letter-spacing: calc(6.7 * .4);
        }
    }

    .home-header {        
        .main-title {
            justify-content: flex-start;   
        }
    }

    // 500px HOME - visit section
    .header-inset-image {
        display: none;
    }

    .visit-guyana-image {
        width: 100%;
        img {
            object-fit: fit;
        }
    }

    // 500px HOME - gallery section
    .gallery-flex-container {
        grid-template-columns: 1fr;
    }
}
