// variables
$twilight-blue: #063974;
$green-cyan: #50E3C2;
$black: #2c2c2c;
$ice-blue: #FAfffe;
$light-blue: #D2F9F1;
$spruce: #0C5F4C;

// background image mixin
@mixin custom-header-bg ($image-url) {
    background: url($image-url);
    height: 100vh;
    min-height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-header {
    @include custom-header-bg("../assets/home-image-1.jpg");
}

.blog-header {
    @include custom-header-bg('../assets/blog-image-1.jpg');
}

.contact-us {
    @include custom-header-bg('../assets/contact-image-1.jpg');
}

@import "setup";
@import "home";
@import "blog";
@import "contact";



// *** GLOBAL styles
html {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.skip-link {
	position: absolute;
	left: -1000px;
	top: 5px;
	z-index: 999;
	background: white;
	color: black;
	font-size: 2rem;
}

.skip-link:focus {
	left: 0;
}

.wrapper {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

//***GENERAL font styles
h2,
h3,
h4,
nav li,
p,
input,
textarea,
.blogpage li {
    font-family: 'Lato', sans-serif;
}

h1,
button {
    font-family: 'Playfair Display SC', serif; 
}

h2,
h3,
h4,
nav {
    font-weight: 700;
}

nav,
button,
form,
p,
.blogpage li {
    font-size: 2rem;
}

h1 {
    font-weight: 700;
    font-size: 11.12rem;
    color: $twilight-blue;
    z-index: 10;
        
    span {
        display: block;
        text-transform: lowercase;
        color: $spruce;
        font-size: 6.2rem;
        line-height: 5.8rem;
        letter-spacing: 6.7;
        font-family: 'Lato', sans-serif;
    }
}

h2 {
    font-size: 6.2rem;
    letter-spacing: 9px;
    line-height: 5.8rem;
    color: $ice-blue;
}

h3 {
    font-size: 3.5rem;
    letter-spacing: 3.8px;
    line-height: 5.8rem;
}

h4 {
    font-size: 3.0rem;
    line-height: 5.8rem;
    letter-spacing: 3.2px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    line-height: 3.2rem;
    letter-spacing: 2px;
}

button {
    background: $twilight-blue;
    a {
        line-height: 3.4rem;
        letter-spacing: 1;
        color: $ice-blue;
        text-decoration: none;
        padding: 0px 10px;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
}

//***GENERAL header styles
header {
    a {
        padding: 5px 10px;
        margin: 0  20px;
        color: $ice-blue;
        line-height: 3rem;
        &:hover,
        &:focus {
            color: $light-blue;
            border-bottom: 3px solid $light-blue;
        }
    } 
}

.contact-us,
.blog-header,
.main-title  {
        display: flex;
        align-items: center;
}

.header-content,
.main-title {
    height: 100%;
}

//***GENERAL navigator styles

nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-top: 20px;
    line-height: 2.9rem;
    letter-spacing: 1;
    // flex navigation items
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-size: 3.46rem;
    color: $green-cyan;
    margin: 0;
}

// keeps current page at different colour, without a link 
.current-page {
    color: $green-cyan;
}

// hamburger menu - hidden initially
.fa-bars {
    color: $ice-blue;
    display: none;
    font-size: 3rem;
}


//***GENERAL FORM STYLES

input,
textarea {
    padding: 20px;
    margin-bottom: 40px;
    border-style: none;
}

input {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    border-bottom: 2px solid $green-cyan;
}

[type="email"] {
    margin-right: 0;
}

textarea {
    resize: none;
    width: 100%;
    border: 2px solid $green-cyan;
}

button[type="submit"] {
    width: 100%;
    line-height: 3.2px;
    letter-spacing: 1;
    color: $ice-blue;
    padding: 20px;
}

//***GENERAL FOOTER

footer {
    background-color: #2c2c2c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    a {
        color: $green-cyan;
    }
}

//***MEDIA QUERY 1250PX
//***DESKTOP, LARGE LAPTOPS

@media (max-width: 1250px) {

// 1250PX HOME - article section

    .article-text-1 {
        padding: 50px 0 100px;
    }

    .article-text-2 {
        padding: 100px 0 60px;
    }

    .article-container {
        width: 90%;
        margin-right: 60px;
    }

    .article-container:last-child {
        margin-right: 0px;
    }

    .article-img1,
    .article-img2 {
        position: static;
        height: 375px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .article-img1 {
        margin-top: 150px;
    }

    .article-img2 {
        margin-bottom: 100px;
    }

// ** BLOG - main section

    .blog-container {
        margin-right: 30px;
    }

    .blog-article-image {
        margin-left: -50px;
    }

    aside {
        position: relative;
        right: -6px;
        .text {
            width: 90%;
        }
        img {
            width: 300px;
            position: relative;
            right: 0;
        }
    }
}


//****MEDIA QUERY 1024PX
//****DESKTOP, SMALL LAPTOPS
@media (max-width: 1024px) {

    h1 {
        font-size: 8.4rem;
        font-size: calc(11.2rem * .75);
        span {
            font-size: calc(6.2rem * .75);
            line-height: calc(5.8rem * .75);
            letter-spacing: calc(6.7 * .75);
        }
    }

    .home-header {        
        .main-title {
            justify-content: center;   
            padding-right: 0;
        }
    }

    // 1024px CONTACT US - form section
    input {
        width: 100%;
        margin-right: 0;
    }

    input:first-child {
        margin-bottom: 20px;
    }

    .contact-info {
        padding: 150px 30px;
    }
}

//***MEDIA QUERY 768PX
//***TABLETS
@media (max-width: 768px) {

    // 768px FONT RESIZES 
    h1 {
        font-size: calc(11.2rem * .6);
        span {
            font-size: calc(6.2rem * .6);
            line-height: calc(5.8rem * .6);
            letter-spacing: calc(6.7 * .6);
        }
    }

    h2 {
    font-size: calc(6.2rem * .8);
    letter-spacing: calc(9px * .8);
    line-height: calc(5.8rem * .8);
    }

    h3 {
        font-size: calc(3.5rem * .8);
        letter-spacing: calc(3.8px * .8);
        line-height: calc(5.8rem * .8);
    }

    h4 {
        font-size: calc(3.0rem * .8);
        line-height: calc(5.8rem * .8);
        letter-spacing: calc(3.2px * .8);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    p,
    .blogpage li {
        line-height: calc(3.2rem * .8);
        letter-spacing: calc(2px * .8);
    }

    // 768PX - HEADER STYLES

    header li {
        display: none;
    }
    
    .fa-bars {
        display: block; /* make hamburger visible */
    }

    // 768px HOME - visit section
    .visit {
        padding: 50px 0px;
    }

    .visit-flex-container {
        flex-wrap: wrap;
    }

    .visit-images-flex-container {
        display: flex;
    }
    
    .visit-summary {
        order: 0;
        width: 100%;
        text-align: center;
        padding: 30px 0 0;
    }

    .header-inset-image {
        position: static; // swinging inset image down beside visit guyana image
    }

    .header-inset-image,
    .visit-guyana-image {
        width: calc((100% - 20px) / 2);
        margin-right: 20px;
        height: 330px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .visit-guyana-image {
        box-shadow: none;
        margin-right: 0;
    }

    // 768px HOME - gallery section

    .gallery {
        padding: 50px 0px;
    }

    .gallery-flex-container {
        grid-template-columns: 1fr 1fr;
    }

    .gallery-flex-container {
        li:last-child {
            display: none;
        }
    }

    // 768px HOME - extra info section

    .extra-info {
        flex-direction: column;
        padding: 50px 0px;
    }

    .icon-text-container {
        width: 100%;
        margin-bottom: 50px;
    }

    // 768px HOME - offers section

    .offers-text {
        width: 90%;
    }

    //768PX BLOG - main section
    .blog-aside-container {
        flex-direction: column;
    }

    .blog-container,
    aside {
        position: static;
        width: 100%;
    }

    aside {
        order: -1;
        flex-direction: row; 
        img {
            width: 30%;
            object-fit: cover;
        }
        .text {
            padding-top: 0;
        }
    }


    //768px CONTACT - form section

    .contact-form {
        position: static; // brings form back into section
        width: 100%;
    }

    .contact-info {
        float: none;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 75px 0px 50px;
    }

    .socials {
        justify-content: center;
    }
}

//****MEDIA QUERY 500PX
//****SMALL MOBILE

@media (max-width: 500px) {

    // 500px GENERAL styles
    h1 {
        font-size: calc(11.2rem * .4);
        span {
            font-size: calc(6.2rem * .4);
            line-height: calc(5.8rem * .4);
            letter-spacing: calc(6.7 * .4);
        }
    }

    .logo {
        font-size: calc(3.46rem * .75);
    }

    h2 {
        font-size: calc(6.2rem * .6);
        letter-spacing: calc(9px * .6);
        line-height: calc(5.8rem * .6);
    }

    // 500px HOME - header
    
    .home-header {        
        .main-title {
            justify-content: flex-start;   
        }
    }

    // 500px HOME - visit section
    .header-inset-image {
        display: none;
    } // remove sunglasses image completely

    .visit-guyana-image {
        width: 100%;
        img {
            object-fit: fit;
        }
    }

    // 500px HOME - gallery section
    .gallery-flex-container {
        grid-template-columns: 1fr;
    }
}
