@import "setup";

// variables
$twilight-blue: #063974;
$green-cyan: #50E3C2;
$black: #2c2c2c;
$ice-blue: #FAfffe;
$light-blue: #D2F9F1;
$spruce: #0C5F4C;


// general styles
html {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.skip-link {
	position: absolute;
	left: -1000px;
	top: 5px;
	z-index: 999;
	background: white;
	color: black;
	font-size: 2rem;
}

.skip-link:focus {
	left: 0;
}

.wrapper {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
}

// general font styles

h2,
h3,
h4,
nav li,
p,
form {
    font-family: 'Lato', sans-serif;
}

h1,
button {
   font-family: 'Playfair Display SC', serif; 
}

h2,
h3,
h4,
nav {
    font-weight: 700;
}

nav,
button,
form,
p {
    font-size: 2rem;
}

h1 {
    font-weight: 700;
    font-size: 11.12rem;
    color: $twilight-blue;
    z-index: 10;
        
    span {
        display: block;
        text-transform: lowercase;
        color: $spruce;
        font-size: 6.2rem;
        line-height: 5.8rem;
        letter-spacing: 6.7;
        font-family: 'Lato', sans-serif;
    }
}

h2 {
    font-size: 6.2rem;
    color: $ice-blue;
}

h3 {
    font-size: 3.5rem;
    letter-spacing: 3.8px;
    line-height: 5.8rem;
}

p {
    line-height: 3.2rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
}


section:nth-child(odd) {
    background: $ice-blue;
}

section:nth-child(even) {
    background: $light-blue;
}

button {
    background: $twilight-blue;
    
    a {
        line-height: 3.4rem;
        letter-spacing: 1;
        color: $ice-blue;
        text-decoration: none;
        padding: 0px 10px;
    }
}


// header styles

@mixin custom-header-bg ($image-url) {
    background: url($image-url);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// changing background images

.home-header {
    @include custom-header-bg("../assets/home-image-1.jpg");
}

.contact-us {
    @include custom-header-bg('../assets/contact-image-1.jpg');
}

.blog-header {
    @include custom-header-bg('../assets/blog-image-1.jpg');
    position: relative;
}

header {
    a {
        padding: 5px 10px;
        margin: 0  20px;
        text-decoration: none;
        color: $ice-blue;
        line-height: 3rem;
    }

    a:hover,
    a:focus {
        color: $light-blue;
        border-bottom: 3px solid $light-blue;
    }
}

.contact-us,
.blog-header {
        // height: 100%;
        display: flex;
        align-items: center;
}

.main-title {
    height: 100%;
    display: flex;
    align-items: center;
}

.home-header {
    display: flex;
    .main-title {
        justify-content: flex-end;
        padding-right: 10%;
    }
}

.fa-bars {
    color: $ice-blue;
    display: none;
    font-size: 3rem;
}

.logo {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-size: 3.46rem;
    color: $green-cyan;
}
    
.current-page {
    color: $green-cyan;
}

.header-content {
    height: 100%;
}

// navigator

nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-top: 20px;
    line-height: 2.9rem;
    letter-spacing: 1;
    
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-inset-image {
    width: 45%;
    max-width: 800px;
    position: absolute;
    bottom: -70px;
    left: -10px;
}


// HOME - visit guyana section

.visit {
    padding: 120px 0 80px;
    display: flex;
}

.visit-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.visit-summary {
    width: calc(75% - 50px);
    padding-right: 50px;
    order: -1;
}

.visit-guyana-image {
    box-shadow: 10px 10px $green-cyan;
}

// HOME - gallery section 

.gallery {
    padding: 80px 0 80px;
}

.gallery-flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: 275px;
    gap: 25px;
    li {
        display: flex;
    }
}






// CONTACT PAGE

.contact-form {
    display: flex;
    position: absolute;
}

.form {
    padding: 70px 30px 30px;
    box-shadow: 20px 20px grey;
    margin-right: 50px;
    width: 60%;
    top: -150;
    left: 0;
}

input,
textarea {
    margin: 0 40px 40px;
}

textarea {
    resize: none;
    width: 100%;
}

button[type="submit"] {
    width: 100%;
}

.contact-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
}

.socials {
    display: flex;
}



// MEDIA QUERY 1024PX
// DESKTOP, SMALL LAPTOPS
@media (max-width: 1024px) {

    h1 {
        font-size: calc(11.2rem * .75);
        span {
            font-size: calc(6.2rem * .75);
            line-height: calc(5.8rem * .75);
            letter-spacing: calc(6.7 * .75);
        }
    }

    .home-header {        
        .main-title {
            justify-content: center;   
            padding-right: 0;
        }
    }
}

// MEDIA QUERY 768PX
// TABLETS
@media (max-width: 768px) {

    // 768px HEADER STYLES 
    h1 {
        font-size: calc(11.2rem * .6);
        span {
            font-size: calc(6.2rem * .6);
            line-height: calc(5.8rem * .6);
            letter-spacing: calc(6.7 * .6);
        }
    }

    header li {
        display: none;
    }
    
    .fa-bars {
        display: block; /* make hamburger visible */
    }

    // 768px HOME - visit section
    .visit {
        padding-top: 60px;
    }

    .visit-flex-container {
        flex-wrap: wrap;
    }

    .visit-images-flex-container {
        display: flex;
    }
    
    .visit-summary {
        order: 0;
        width: 100%;
        text-align: center;
        padding: 30px 0 0;
    }

    .header-inset-image {
        position: static; // swinging inset image down beside visit guyana image
    }

    .header-inset-image,
    .visit-guyana-image {
        width: calc((100% - 20px) / 2);
        margin-right: 20px;
        height: 330px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .visit-guyana-image {
        box-shadow: none;
        margin-right: 0;
    }

    // 768px HOME - gallery section
    .gallery-flex-container {
        grid-template-columns: 1fr 1fr;
    }

    .gallery-flex-container {
        li:last-child {
            display: none;
        }
    }
}

// MEDIA QUERY 500PX
// SMALL MOBILE

@media (max-width: 500px) {

     .logo {
        font-size: calc(3.46rem * .75);
    }

    // 500px - HOME - header
    h1 {
        font-size: calc(11.2rem * .4);
        span {
            font-size: calc(6.2rem * .4);
            line-height: calc(5.8rem * .4);
            letter-spacing: calc(6.7 * .4);
        }
    }

    .home-header {        
        .main-title {
            justify-content: flex-start;   
        }
    }

    // 500px HOME - visit section
    .header-inset-image {
        display: none;
    }

    .visit-guyana-image {
        width: 100%;
        img {
            // height: 100%;
            object-fit: fit;
        }
    }

    // 500px HOME - gallery section
    .gallery-flex-container {
        grid-template-columns: 1fr;
    }

}
