.home-header {
  background: url("../assets/home-image-1.jpg");
  height: 100vh;
  min-height: 550px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-header {
  background: url("../assets/blog-image-1.jpg");
  height: 100vh;
  min-height: 550px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-us {
  background: url("../assets/contact-image-1.jpg");
  height: 100vh;
  min-height: 550px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.home section:nth-child(odd) {
  background: #FAfffe;
}

.home section:nth-child(even) {
  background: #D2F9F1;
}

.home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-header .main-title {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10%;
}

.header-inset-image {
  width: 45%;
  position: absolute;
  bottom: -70px;
  left: -10px;
}

.visit {
  padding: 120px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visit-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visit-summary {
  width: calc(75% - 50px);
  padding-right: 50px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.visit-summary p {
  margin-bottom: 15px;
}

.visit-guyana-image {
  -webkit-box-shadow: 10px 10px #50E3C2;
          box-shadow: 10px 10px #50E3C2;
}

.gallery {
  padding: 80px 0 80px;
}

.gallery-flex-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.gallery-flex-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.extra-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 75px 0;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.extra-info .icon-text-container:last-child {
  margin-bottom: 0;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FAfffe;
  background-color: #50E3C2;
  font-size: 20px;
  margin-top: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.icon-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  margin-bottom: 50px;
}

.extra-text {
  width: calc(100% - 55px);
}

.articles-quadrant-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: calc((100% - 100px) / 2);
  margin-right: 100px;
}

.article-container:last-child {
  margin-right: 0px;
}

.article-img1 {
  position: relative;
  top: -125px;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}

.article-img2 {
  position: relative;
  right: 0px;
  bottom: -125px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.article-text-1,
.article-text-2 {
  width: 70%;
}

.article-text-1 {
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.offers-image {
  width: 100%;
  margin-bottom: 50px;
}

.offers-text {
  width: 70%;
  text-align: center;
  margin: 0 auto 70px;
}

.blogpage {
  background: #FAfffe;
  padding: 60px 0px;
}

.blogpage p {
  margin-bottom: 30px;
}

.blogpage p:last-child {
  margin-bottom: 0;
}

.blogpage li {
  line-height: 3.2rem;
  letter-spacing: 2px;
}

.blog-date,
.comment-date {
  color: #063974;
}

.blog-date {
  font-weight: 300;
  font-style: italic;
}

.comment-date,
.darker-blue {
  font-weight: 700;
}

.blog-aside-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

aside {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

aside .text {
  background: #fff;
  padding: 15px;
}

aside ul {
  list-style: none;
}

aside ul li::before {
  content: "\2022";
  color: #50E3C2;
  display: inline-block;
  margin-right: 5px;
}

aside h4 {
  color: #063974;
}

aside .find-more {
  display: block;
  color: #0C5F4C;
  font-weight: 700;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  position: relative;
  top: -200px;
}

.blog-article-image {
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
  position: relative;
  left: -15px;
}

.blog-article-text {
  border-left-style: none;
  border: 2px solid #50E3C2;
}

.blog-article-text {
  padding: 40px 40px 40px 10%;
}

.comments {
  margin: 0;
  padding: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 75%;
}

.blog-date {
  color: #063974;
}

.comment-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.comment-flex-container img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.contact-main {
  background: #FAfffe;
}

.form-container {
  position: relative;
}

.contact-form {
  width: 60%;
  padding: 70px 50px 50px;
  -webkit-box-shadow: 20px 20px grey;
          box-shadow: 20px 20px grey;
  position: absolute;
  width: 60%;
  top: -150px;
  left: 0;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  width: calc(40% - 40px);
  margin-left: 40px;
  padding: 100px 50px 150px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
}

.socials li {
  padding-right: 20px;
}

.socials li:last-child {
  padding-right: 0;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  font-size: 2rem;
}

.skip-link:focus {
  left: 0;
}

.wrapper {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}

h1 span,
h2,
h3,
h4,
nav li,
p,
input,
textarea,
.blogpage li {
  font-family: 'Lato', sans-serif;
}

h1,
button {
  font-family: 'Playfair Display SC', serif;
}

h2,
h3,
h4,
nav {
  font-weight: 700;
}

nav,
button,
form,
p,
.blogpage li {
  font-size: 2rem;
}

h1 {
  font-weight: 700;
  font-size: calc(5.5rem + 4vw);
  color: #063974;
  z-index: 10;
}

h1 span {
  display: block;
  font-size: calc(3.1rem + 2vw);
  line-height: 5.8rem;
  letter-spacing: 6.7;
  text-transform: lowercase;
  color: #0C5F4C;
}

h2 {
  font-size: calc(3.1rem + 2vw);
  letter-spacing: 9px;
  line-height: 5.8rem;
  color: #FAfffe;
}

h3 {
  font-size: 3.5rem;
  letter-spacing: 3.8px;
  line-height: 5.8rem;
}

h4 {
  font-size: 3.0rem;
  line-height: 5.8rem;
  letter-spacing: 3.2px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 3.2rem;
  letter-spacing: 2px;
}

button {
  background: #063974;
}

button a {
  line-height: 3.4rem;
  letter-spacing: 1;
  color: #FAfffe;
  text-decoration: none;
  padding: 0px 10px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

header a {
  padding: 5px 10px;
  margin: 0  20px;
  color: #FAfffe;
  line-height: 3rem;
}

header a:hover, header a:focus {
  color: #D2F9F1;
  border-bottom: 3px solid #D2F9F1;
}

.contact-us,
.blog-header,
.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content,
.main-title {
  height: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  padding-top: 20px;
  line-height: 2.9rem;
  letter-spacing: 1;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  font-size: 3.46rem;
  color: #50E3C2;
  margin: 0;
}

.current-page {
  color: #50E3C2;
}

.fa-bars {
  color: #FAfffe;
  display: none;
  font-size: 3rem;
}

input,
textarea {
  padding: 20px;
  margin-bottom: 40px;
  border-style: none;
}

input {
  width: calc((100% - 20px) / 2);
  margin-right: 20px;
  border-bottom: 2px solid #50E3C2;
}

[type="email"] {
  margin-right: 0;
}

textarea {
  resize: none;
  width: 100%;
  border: 2px solid #50E3C2;
}

button[type="submit"] {
  width: 100%;
  line-height: 3.2px;
  letter-spacing: 1;
  color: #FAfffe;
  padding: 20px;
}

footer {
  background-color: #2c2c2c;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #50E3C2;
}

@media (max-width: 1250px) {
  .article-text-1 {
    padding: 75px 0px;
  }
  .article-text-2 {
    padding-bottom: 60px;
  }
  .article-container {
    width: 90%;
  }
  .article-container:last-child {
    margin-right: 0px;
  }
  .article-img1,
  .article-img2 {
    position: static;
    height: 375px;
  }
  .article-img1 img,
  .article-img2 img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .blog-container {
    margin-right: 30px;
  }
  .blog-article-image {
    margin-left: -50px;
  }
  aside {
    position: relative;
    right: -6px;
  }
  aside .text {
    width: 90%;
  }
  aside img {
    width: 300px;
    position: relative;
    right: 0;
  }
}

@media (max-width: 1024px) {
  h1 span {
    line-height: calc(5.8rem * .75);
    letter-spacing: calc(6.7 * .75);
  }
  nav,
  button,
  form,
  p,
  .blogpage li {
    font-size: calc(1.25rem + 1vw);
  }
  .logo {
    font-size: calc(1.75rem + 1.75vw);
  }
  .home-header .main-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
  input {
    width: 100%;
    margin-right: 0;
  }
  input:first-child {
    margin-bottom: 20px;
  }
  .contact-info {
    padding: 150px 30px;
  }
}

@media (max-width: 768px) {
  h1 span {
    line-height: calc(5.8rem * .6);
    letter-spacing: calc(6.7 * .6);
  }
  h2 {
    letter-spacing: calc(9px * .8);
    line-height: calc(5.8rem * .8);
  }
  h3 {
    font-size: calc(3.5rem * .8);
    letter-spacing: calc(3.8px * .8);
    line-height: calc(5.8rem * .8);
  }
  h4 {
    font-size: calc(3.0rem * .8);
    line-height: calc(5.8rem * .8);
    letter-spacing: calc(3.2px * .8);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  p,
  .blogpage li {
    line-height: calc(3.2rem * .8);
    letter-spacing: calc(2px * .8);
  }
  header li {
    display: none;
  }
  .fa-bars {
    display: block;
    /* make hamburger visible */
  }
  .visit {
    padding: 50px 0px;
  }
  .visit-flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .visit-images-flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .visit-summary {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    text-align: center;
    padding: 30px 0 0;
  }
  .header-inset-image {
    position: static;
  }
  .header-inset-image,
  .visit-guyana-image {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    height: 330px;
  }
  .header-inset-image img,
  .visit-guyana-image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .visit-guyana-image {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-right: 0;
  }
  .gallery {
    padding: 50px 0px;
  }
  .gallery-flex-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .gallery-flex-container li:last-child {
    display: none;
  }
  .extra-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0px;
  }
  .icon-text-container {
    width: 100%;
    margin-bottom: 50px;
  }
  .articles-quadrant-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
  .article-container {
    width: 100%;
    margin: 0px;
  }
  .article-img1,
  .article-img2 {
    width: 100%;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .article-img2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .article-text-1,
  .article-text-2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0px 60px;
  }
  .offers-text {
    width: 90%;
  }
  .blog-aside-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-container,
  aside {
    position: static;
    width: 100%;
  }
  aside {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  aside img {
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  aside .text {
    padding-top: 0;
  }
  .contact-form {
    position: static;
    width: 100%;
  }
  .contact-info {
    float: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 75px 0px 50px;
  }
  .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: calc(11.2rem * .4);
  }
  h1 span {
    font-size: calc(6.2rem * .4);
    line-height: calc(5.8rem * .4);
    letter-spacing: calc(6.7 * .4);
  }
  h2 {
    letter-spacing: calc(9px * .6);
    line-height: calc(5.8rem * .6);
  }
  .home-header .main-title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-inset-image {
    display: none;
  }
  .visit-guyana-image {
    width: 100%;
  }
  .visit-guyana-image img {
    -o-object-fit: fit;
       object-fit: fit;
  }
  .gallery-flex-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
